---
layout: default
title: Home
---

<h1>William Bernardoni</h1>
<div class="box">
<img src="assets/images/Headshot.png" alt="A photo of William Bernardoni at NASA Glenn Research Center" id="headshot">
<p>
PhD Candidate at <a href="https://mathstats.case.edu/student/william-bernardoni/">Case Western Reserve University</a>. Projected graduation is spring of 2025.
</p>
<p>
	Contact me by email - wrb37(at)case.edu - <a href="https://twitter.com/billybernardon1">twitter</a>, <a href="https://github.com/wrbernardoni/">github push</a> or <a href="https://www.amazon.com/fire-wood/s?k=firewood">smoke signal</a>!
</p>

<p>
	<a href="/Resume.pdf">Here is a link to my CV</a>, last updated October 13th, 2023
</p>
</div>
<hr>

<h2>About me and my research</h2>
<p>
	My current focus is on developing an algebraic geometry of <a href="https://ncatlab.org/nlab/show/idempotent+semiring">idempotent semirings</a>. An <a href="https://ncatlab.org/nlab/show/idempotent+semiring">idempotent semirings</a> is a <a href="https://en.wikipedia.org/wiki/Semiring">semiring</a> such that \(a + a = a\) for all \(a\). Idempotent semirings have a number of applications in economic theory, the theory of computation and formal languages, algebraic geometry (see <a href="https://en.wikipedia.org/wiki/Tropical_geometry">tropical geometry</a>).
</p>

<p>
	In my work so far I have used the geometry of idempotent semirings to create tools to <a href="/2023/11/01/AlgebraicContactGraph.html">model and study deep space satellite networks,</a> as well as <a href="https://arxiv.org/abs/2305.08697">generalized some ideas from tropical geometry to apply in a non-commutative geometric setting</a>.
</p>

<p>
	While my studies are in pure mathematics, I have a background in computer science (particularly in the field of statistical machine translation), and I love to leverage that background into finding applications of algebraic theory.
</p>

<p>
	<a href="https://thedaily.case.edu/spartan-showcase-william-bernardoni/">You can read a bit about me and my research in Case Western's newspaper <em>The Daily</em></a>
</p>

<hr>

<h2>Papers</h2>
<p>
	Brief explanations of each paper are available under the <a href="/papers.html">paper tab.</a>
</p>
<ul>
{% for item in site.data.papers %}
    <li>{{item.date}} - <strong><a href="{{ item.link }}" >{{item.name}}</a></li></strong> by {{item.authors}}
    <br>
    <em>{{item.status}}</em>
{% endfor %}
</ul>

<hr>

<h2>Talks</h2>
<dl>
	{% for item in site.data.talks %}
    <dt>{{item.date}}</dt>
    	{% for t in item.tks %}
    	<dd>
    		{% if t.conference %}<strong>{{t.conference}}</strong>, {% if t.where %} {{t.where}}{% endif %}{% elsif t.where %} <strong>{{t.where}}</strong>{% endif %}{% if t.name %}: <em>{{t.name}}</em> {% endif %}
    		{% if t.details %}
    		<br>
    		<small>{{t.details}}</small>
    		{% if t.link %}
    		<br><small><a href={{t.link}}>{{t.linktext}}</a></small>
    		{% endif %}
    		{% endif %}
    	</dd>
    	{% endfor %}
	{% endfor %}
</dl>

<hr>

<h2>Teaching</h2>
<dl>
	{% for item in site.data.teaching %}
    <dt>{{item.institute}}</dt>
    	<dl>
    	{% for t in item.semesters %}
    	<dd>
    		<dl>
    			<dt>{{t.semester}}</dt>
    			{% for c in t.courses %}
    			<dd>
    				{% if c.code %} {{c.code}}: {% endif %} {{c.name}}
    				{% if c.details %}
    					<br><small>{{c.details}}</small>
    				{% endif %}
    			</dd>
    			{% endfor %}
    		</dl>
    	</dd>
    	{% endfor %}
    	</dl>
	{% endfor %}
</dl>